* {
	margin:0;
	padding:0;
}
#wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}
img {
	width:900px;
	}
body {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-family:"ÑÅºÚËÎÌå", "Î¢ÈíÑÅºÚ", "ÐÂËÎÌå", "ËÎÌå";
	font-size:1em;
	color:#0000;
	text-align:left;
	background-color: #E8F2FE;
}
#add{
	margin-left: 220px;
	}
#in{
	color:#4698CA;
	font-weight:100;
	}
a {
	color:#ffffff;
	text-decoration:none;
	font-weight: 900;
}

#line{
	color:#4698CA;
	}


ul {
	list-style:none;
}
#bookticket_com {
	height:20px;
	background:#71D9FF;
	font-size:1.3em;
	text-align:center;
	width:900px;
}
#bookticket_com a {
	font-size:0.65em;
}
#bookticket_com li ul {
	display:none;
}
#bookticket_com li ul li {
	float:none;
}
*html #bookticket_com li ul li {
	display:inline;
}
#bookticket_com li ul a {
	float:none;
	height:20px;
	margin:0 auto;
	width:120px;
	line-height:32px;
	padding:0 20px;
	
}

.second-menu, .third-menu, .fourth-menu {
	position:absolute;
}
.first-menu li {
	margin-left:10px;
	float:left;
	position:relative;
}
.first-menu a {
	float:left;
	display:block;
	padding:0 70px;
	height:35px;
	line-height:35px;
	background:#71D9FF;
	border-top:1px solid #71D9FF;
	border-left:1px solid #71D9FF;
	border-bottom:1px solid #71D9FF;
	border-right:1px solid #71D9FF;
	font-size:.7em;
}
.first-menu a:hover {
	background:#4698ca;
	border-top:1px solid #5db1e0;
	border-left:1px solid #5db1e0;
}
.second-menu {
	top:37px;
	right:0;
}
*html .second-menu {
	right:-1px;
}
.second-menu a {
	font-size:11px;
}
.second-menu a.bookticket {
	background:#3a3a3a no-repeat right top;
}
.second-menu a.bookticket:hover {
	background:#4698ca no-repeat right -32px;
}
.second-menu a.bookticket-02 {
	background:#3a3a3a no-repeat right -64px;
}
.second-menu a.bookticket-02:hover {
	background:#4698ca no-repeat right -110px;
}
.third-menu, .fourth-menu {
	width:177px;
	top:0;
	left:177px;
}
.third-menu a {
	background:#4c4c4c;
	font-weight:normal;
	border-top:1px solid #595959;
	border-left:1px solid #595959;
	border-bottom:1px solid #333;
	border-right:1px solid #333;
}
#subMgm {
	width:177px;
}
#subMgm .third-menu {
	left:177px;
}
#subMgm .fourth-menu {
	left:177px;
}
#subMusic, #subNews {
	width:177px;
}